<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default-layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<th:block
	th:replace="~{common/configs/default-configs :: ContextPathConfig}"></th:block>
<th:block
	th:replace="~{common/configs/default-configs :: BootstrapConfig}"></th:block>

<title>This is emp/info</title>
</head>
<body>
	<div class="container">
		<h3>[[ ${emp.lastName} ]] 's Details</h3>
		<div>
			<div>
				<!--/* 입력 tag는 속성이 없다 */-->
				<label for="employee-id">employee ID</label> <input id="employee-id"
					type="text" th:value="${emp.employeeId}" readonly>
			</div>

			<div>
				<label for="name">first name</label> <input id="name" type="text"
					th:value="${emp.firstName}" readonly>
			</div>

			<div>
				<label for="email">email</label> <input id="email" type="email"
					th:value="${emp.email}" readonly>
			</div>

			<div>
				<label for="hire-date">hire date</label> <input id="hire-date"
					type="date" th:value="${#dates.format(emp.hireDate, 'yyyy-MM-dd')}"
					readonly>
			</div>

			<div>
				<label for="job-id">job ID</label> <input id="job-id" type="text"
					th:value="${emp.jobId}" readonly>
			</div>

			<div>
				<label for="salary">salary</label> <input id="salary" type="number"
					step="0,01" th:value="${emp.salary}" readonly>
			</div>
		</div>

		<div>
			<button type="button"
				th:onclick="|location.href='@{/empUpdate(employeeId=${emp.employeeId})}'|">UPDATE</button>
			<!--/* key=value 형태로 page 요청
                /empUpdate?employeeId=${emp.employeeId}
                !!!!!!!!링크 표현식에서는 $ 못 쓴다!!!!!!!!
                '' 이것도 안씀 문자열로 인식한다 
                @{/path?key=value& name=a&age=b}
                @{/path(key=value, name=a, age=b)}
                경로가 아닌 data는 ()안으로
                @{/path(key=${val}, name=${}, age=${})}
  
       */-->
			<button type="button" th:onclick="|location.href='@{/empList}'|">LIST</button>
			<!--/* @GetMapping("empDelete")와 연결 
                location.href    locaiton객체가 가지는 현재page에 대한 정보 
                onclick속성은 th:가 붙어야함                          
                 "|  이렇게 해야 경로 해석을하고 하나의 문자열로 인식함 |"   
                 location.href='@{/empList}' 링크 표현식
                 action, href, src 여기서 만씀
                  */-->
			<button type="button"
				th:onclick="|location.href='/empDelete?empId=${emp.employeeId}'|">DELETE</button>
		</div>

	</div>

</body>
</html>