<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default-layout}"
	layout:fragment="Content">

<head>
<meta charset="UTF-8" />
<th:block
	th:replace="~{common/configs/default-configs :: ContextPathConfig}"></th:block>
<th:block
	th:replace="~{common/configs/default-configs :: BootstrapConfig}"></th:block>
<title>This is emp/info</title>
</head>
<body>
	<div class="container">
		<h3>UPDATE [[ ${emp.lastName} ]] ' s Information</h3>
		<!--/* path경로는 action 
              @{} 링크표현식  경로를 생성할 때 사용 
              context-path를 찾아줌
              변수가 아닌   /경로
              href, src, action 
              th object = "model객체의 값을 가져오는 이름을전역변수로 설정"
              th field는 input이 아닌 emp에서 불러옴 
              EmpVO의 field 정보 
              
              form을 쓰는 이유 값을 담으려고 
           */-->
		<form name="updateForm" action="@{/empUpdate}" method="post"
			th:object="${emp}">
			<div>
				<div>
					<!--/* 입력 tag는 속성이 없다 */-->
					<label for="employee-id">employee ID</label> <input
						id="employee-id" type="text" th:field="*{employeeId}" readonly />
				</div>

				<div>
					<label for="name">first name</label> <input id="name" type="text"
						th:field="*{firstName}" />
				</div>

				<div>
					<label for="email">email</label> <input id="email" type="email"
						th:field="*{email}" />
				</div>

				<div>
					<label for="hire-date">hire date</label> <input id="hire-date"
						type="date" th:field="*{hireDate}" />
				</div>

				<div>
					<label for="salary">salary</label> <input id="salary" type="number"
						step="0,01" th:field="*{salary}" />
				</div>
			</div>

			<div>
				<button type="button">UPDATE</button>
			</div>
		</form>
	</div>

	<script>
      // form tag의 name
      updateForm.querySelector("button").addEventListener("click", updateAjax);

      function updateAjax(event) {
        /* 전송 data 반환 json으로 보낼 때는 반드시 content-type : 'application/json'
              headers에 선언하고 
              body에는 JSON.stringify() json문자열로 변환
              각 각 event 주고 싶으면 for 반복문
              동적 tag 추가는 따로 해줘야함
         */
        let dataObj = getEmpObj();
        fetch("empUpdate", {
          method: "post",
          headers: {
            "content-type": "application/json",
          },
          body: JSON.stringify(dataObj),
        })
          .then((res) => res.json())
          .then((result) => {
            console.log(result);
          })
          .catch((error) => console.log(error));
      }

      function getEmpObj() {
        /* 
            FormData 웹 폼(form) 데이터를 자바스크립트에서 다루기 쉽게 만든 객체 통신용 객체 multipart/form-data 
            multipart/form-data 형태로 편리하게 보내는 데 사용됩니다. 이는 HTTP 요청의 body에 담겨 전송되며
            key=value 
            입력 tag가 들고 있는 name속성(key)  data만(value) 
            . 표기법 emp.employeeId(Field명)                   [] 표기법 emp["employeeId"]  "문자열"
          */
        let formData = new FormData(updateForm);
        let formObj = {};
        // forEach 할 때는 val가 먼저임
        formData.forEach((val, key) => {
          console.log(val, key);
          // 변수를 활용하려고 [] 이거함
          formObj[key] = val;
        });
        return formObj;
      }

      // AJAX
      /*
      AXIOS는 외부 Library 
      */
    </script>
</body>
</html>
