<!DOCTYPE html>
<html lang=ko xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<title>This is Department Details</title>
</head>
<body>
  <div class="container">
    <h3>Department Details</h3>
    <div>
      <div>
      <!--/* 입력 tag는 속성이 없다 */-->
        <label for="department-id">Department ID</label>
        <input id="department-id" type="text" th:value="${dept.deptId}" readonly>
      </div>
      
      <div>
        <label for="dept-name">Department name</label>
        <input id="dept-name" type="text" th:value="${dept.deptName}" readonly>
      </div>
      
      <div>
        <label for="parent-dept-id">Parent Department ID</label>
        <input id="parent-dept-id" type="email" th:value="${dept.parentDeptId}" readonly>
      </div>
      
      <div>
        <label for="created-date">Created Date</label>
        <input id="created-date" type="date" th:value="${#dates.format(dept.createdAt, 'yyyy-MM-dd')}" readonly>
      </div>
      
      <div>
        <label for="location">Location</label>
        <input id="location" type="text" th:value="${dept.location}" readonly>
      </div>
    </div>
  	
  </div>

</body>
</html>